version: '3.9'
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    depends_on:
      - mongo
    environment:
      - PORT=5001
      - MONGO_URI=mongodb://localhost:27018
      - JWT_SECRET=please_change_me
      - CORS_ORIGIN=http://localhost:3000
    ports:
      - '5001:5001'

  client:
    build: ./client
    depends_on:
      - server
    ports:
      - '3000:3000'

volumes:
  mongo_data:
    driver: local


